STATUS_MONITOR_ENABLED=false

STATUS_HOST=127.0.0.1
STATUS_PORT=44555
STATUS_TIMEOUT_MS=7000
STATUS_INTERVAL_MS=30000
STATUS_FAILURE_THRESHOLD=5
STATUS_KEEPALIVE_GRACE_MS=180000
STATUS_OUTPUT_PATH=/var/www/html/website/server_status.json
STATUS_STATE_PATH=./data/server_status_state.json
