TC_MIRROR_ENABLED=false

LAUNCHER_LOGIN_SERVER_ADDRESS=login.swg-starforge.com
LAUNCHER_LOGIN_SERVER_PORT=44553
LAUNCHER_TC_LOGIN_SERVER_ADDRESS=testcenter.swg-starforge.com
LAUNCHER_TC_LOGIN_SERVER_PORT=44453
LAUNCHER_SUBSCRIPTION_FEATURES=1
LAUNCHER_GAME_FEATURES=65535
LAUNCHER_ALLOW_MULTIPLE_INSTANCES=true
LAUNCHER_TC_SESSION_API_URL=http://testcenter.swg-starforge.com:44567/api/internal/tc-game-session
LAUNCHER_TC_SESSION_API_KEY=YOUR_TC_SHARED_SECRET
TC_SHARED_SECRET=YOUR_TC_SHARED_SECRET
TC_REGISTER_MIRROR_URL=http://testcenter.swg-starforge.com:44567/api/internal/register-mirror
TC_ACTIVATE_MIRROR_URL=http://testcenter.swg-starforge.com:44567/api/internal/activate-mirror
TC_ACCOUNT_STATUS_URL=http://testcenter.swg-starforge.com:44567/api/internal/account-status
TC_ACCOUNT_IMPORT_URL=http://testcenter.swg-starforge.com:44567/api/internal/import-account
