SWG_CHAT_ENABLED=false

SWG_CHAT_SERVER_NAME=Starforge
SWG_CHAT_DISCORD_TOKEN=YOUR_HOLONET_BOT_TOKEN
SWG_CHAT_LOGIN_ADDRESS=login.swg-starforge.com
SWG_CHAT_LOGIN_PORT=44553
SWG_CHAT_USERNAME=YOUR_SWG_CHAT_USERNAME
SWG_CHAT_PASSWORD=YOUR_SWG_CHAT_PASSWORD
SWG_CHAT_CHARACTER=Discord
SWG_CHAT_ROOM=General
SWG_CHAT_CHANNEL_ID=
SWG_CHAT_CHANNEL_NAME=general
SWG_CHAT_NOTIFICATION_CHANNEL_ID=
SWG_CHAT_NOTIFICATION_CHANNEL_NAME=staff
SWG_CHAT_NOTIFICATION_ROLE_ID=
SWG_CHAT_NOTIFICATION_USER_ID=
SWG_CHAT_TELL_AUTO_REPLY=[Chat Bot] This message is automated: Please contact server administration for any questions or issues.
SWG_CHAT_CONNECTION_TIMEOUT_MS=10000
SWG_CHAT_FAILURE_THRESHOLD=3
SWG_CHAT_RECONNECT_BASE_DELAY_MS=5000
SWG_CHAT_RECONNECT_MAX_DELAY_MS=60000
SWG_CHAT_RECONNECT_JITTER_MS=1500
SWG_CHAT_RECONNECT_STABLE_RESET_MS=300000
SWG_CHAT_VERBOSE_SWG_LOGGING=false
SWG_CHAT_VERBOSE_DISCORD_LOGGING=false
