ENT_BOT_ENABLED=false
ENT_BOT_ADVERTS_ENABLED=false
ENT_BOT_AUTO_INVITE_ON_TELL=false
ENT_BOT_AUTO_ACCEPT_GROUP_INVITES=false
ENT_BOT_PET_AUTO_CALL_ENABLED=false
ENT_BOT_PET_DISCOVERY_ENABLED=true
ENT_BOT_PET_DISCOVERY_DEBUG=false
ENT_BOT_PET_AUTO_GROUP_ENABLED=false

ENT_BOT_ANNOUNCE_COMMANDS=true
ENT_BOT_VERBOSE_SWG_LOGGING=false
ENT_BOT_LOGIN_ADDRESS=login.swg-starforge.com
ENT_BOT_LOGIN_PORT=44553
ENT_BOT_USERNAME=YOUR_ENT_BOT_USERNAME
ENT_BOT_PASSWORD=YOUR_ENT_BOT_PASSWORD
ENT_BOT_CHARACTER=YourEntertainer
ENT_BOT_ROOM=General
ENT_BOT_PERFORMANCE_TYPE=dance
ENT_BOT_PERFORMANCE_COMMAND=
ENT_BOT_PERFORMANCE_COMMANDS=
ENT_BOT_STARTUP_COMMANDS=
ENT_BOT_INVITE_CLEANUP_COMMANDS=["/leavegroup"]
ENT_BOT_DANCE_COMMAND=/startdance exotic4
ENT_BOT_MUSIC_COMMAND=/startmusic starwars1
ENT_BOT_FLOURISH_COMMAND=/flourish 2
ENT_BOT_PET_AUTO_GROUP_COMMAND=/tellpet group
ENT_BOT_PET_CONTROL_DEVICE_IDS=
ENT_BOT_PET_CALL_RADIAL_ID=44
ENT_BOT_PET_CALL_PAUSE_MS=3000
ENT_BOT_PET_AUTO_GROUP_DELAY_MS=3000
ENT_BOT_STARTUP_COMMAND_PAUSE_MS=3000
ENT_BOT_INVITE_CLEANUP_PAUSE_MS=750
ENT_BOT_STARTUP_DELAY_MS=2500
ENT_BOT_GROUP_INVITE_ACCEPT_COMMAND=/join
ENT_BOT_GROUP_INVITE_RESPONSE_PAUSE_MS=500
ENT_BOT_ADVERT_INTERVAL_MS=120000
ENT_BOT_ADVERT_CHANNELS=spatialChat,planetSay
ENT_BOT_ADVERT_MESSAGE=Buff service available in Mos Eisley Cantina. Come get your entertainer buffs.
ENT_BOT_ADVERT_MESSAGES=
ENT_BOT_INTERVAL_MS=3000
ENT_BOT_CONNECTION_TIMEOUT_MS=10000
ENT_BOT_FAILURE_THRESHOLD=3
ENT_BOT_RECONNECT_BASE_DELAY_MS=5000
ENT_BOT_RECONNECT_MAX_DELAY_MS=60000
ENT_BOT_RECONNECT_JITTER_MS=1500
ENT_BOT_RECONNECT_STABLE_RESET_MS=300000
ENT_BOT_AUTO_RESTART_AFTER_RECONNECT_ATTEMPTS=10
ENT_BOT_RECYCLE_INTERVAL_MINUTES=0

# Multi-entertainer JSON config:
# ENT_BOT_ENTERTAINERS=[
#   {
#     "character":"DancerOne",
#     "username":"acct1",
#     "password":"pw1",
#     "performanceType":"dance"
#   },
#   {
#     "character":"MusicianOne",
#     "username":"acct2",
#     "password":"pw2",
#     "performanceType":"music"
#   }
# ]
