DISCORD_ENABLED=false
DISCORD_REVIEW_POSTS_ENABLED=false
DISCORD_COMMANDS_ENABLED=false
DISCORD_WELCOME_ENABLED=false
DISCORD_BOT_LOG_ENABLED=false

DISCORD_TOKEN=YOUR_DISCORD_BOT_TOKEN
COMMAND_PREFIX=!
PATCH_NOTES_CHANNEL_ID=
AUTO_ROLE_NAME=Player
PLAYER_ROLE_ID=
PLAYER_ROLE_NAME=Player
ADMIN_ROLE_ID=
ADMIN_ROLE_NAME=Starforge Admin
WELCOME_CHANNEL_NAME=general
ACCOUNT_REVIEW_CHANNEL_ID=
BOT_LOG_CHANNEL_ID=
DOWNLOAD_URL=https://download.swg-starforge.com/StarforgeInstaller.exe?v=1
